html, body {
  height: 100%;
  margin: 0;
}

h1, h2, h3 { 
  margin-top: 0; 
}

body {
  background: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  overflow: hidden; 

  justify-content: center;
  align-items: center;
}

.center {
  text-align: center;
}

.textColor {
  color: black;
}

.project-box {
  background-color: rgb(235, 235, 235);
  border-radius: 10px;

  padding-top: 10px; 

  margin: 25vh auto;
  max-width: 70vw;
  min-height: 50vh;
}

.project {
  background-color: rgb(214, 214, 214);
  border-radius: 10px;
  border: 0;

  display: flex;
  justify-content: center; 
  align-items: center;     

  min-width: 20vw;
  max-width: 20vw;
  min-height: 20vh;
}

button:hover {
  cursor: pointer;
}